<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">
        <p class="h5 my-0 me-md-auto fw-normal"><img src="https://instagram.ffru7-1.fna.fbcdn.net/v/t51.2885-19/s320x320/117607222_782798082470224_3389547289272438943_n.jpg?tp=1&_nc_ht=instagram.ffru7-1.fna.fbcdn.net&_nc_ohc=Zh5fpUy2ivkAX8qj4P4&ccb=7-4&oh=f6fa4f2ab42613e6e3ac2e42bc0ecf78&oe=60826C37&_nc_sid=7bff83" style="width:60px;height:60px;"></p>
        <nav class="my-2 my-md-0 me-md-3">
            <a class="p-2 text-dark" href="/">Home</a>

            <a class="p-2 text-dark" href="/blog/add">Order now</a>



        </nav>
    </div>
</div>